{% extends "userbase.html" %}
{% block title %}ReserveSpot - Edit Profile{% endblock %}
{% block content %}
<div class="userprofile-container grid">
    <div class="useridentify-container">
        <div class="useridentify-item profileimg">
            <img src="../static/images/user/usrprofile.png" id="selectedAvatar" class="imgcolorchange rounded-circle"
                alt="Avatar" />
            <br>
            <div data-mdb-ripple-init class="btn btn-light rounded-pill uploadbtn">
                <label class="form-label m-1" for="usrimg"><b>Upload a Photo</b></label>
                <input type="file" class="form-control d-none" id="usrimg" onchange="" />
            </div>
        </div>
        <br>
        <div class="useridentify-item identinfo">
            <h1 class="identify-title verify">Identify Verification</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <h1 class="identify-title usrprofilename">John Doe</h1>
            <p><i class="bi bi-check2"> Email Confirmed</i></p>
            <p><i class="bi bi-check2"> Mobile Confirmed</i> </p>
        </div>
    </div>
    <div class="userinfo-container">
        <h1 class="userinfo-title">Hello, John Doe</h1>
        <span>Joined in 2021</span>
        <form class="userinfo-form" action="{% url 'profile_view' %}" method="post">
            {% csrf_token %}
            <div class="userinfo-item">
                <label for="nameinfo"><b>Name</b></label>
                <br>
                <input type="text" class="profile-uname rounded-pill" placeholder="John Doe" name="nameinfo" required>
                <i class="bi bi-pencil-fill"></i>
            </div>
            <div class="userinfo-item">
                <label for="emailinfo"><b>Email</b></label>
                <br>
                <input type="email" class="profile-email rounded-pill" placeholder="JohnDoe@gmail.com" name="emailinfo"
                    required><i class="bi bi-pencil-fill"></i>
            </div>
            <div class="userinfo-item">
                <label for="phoneinfo"><b>Phone Number</b></label>
                <br>
                <input type="tel" class="profile-phone rounded-pill" placeholder="12345678" name="phoneinfo"
                    pattern="[0-9]{8}" required> <i class="bi bi-pencil-fill"></i>
            </div>
            <div class="userinfo-item">
                <label for="pwdinfo"><b>Password</b></label>
                <br>
                <input type="password" class="profile-pwd rounded-pill" placeholder="Password" name="pwdinfo"
                    required><i class="bi bi-pencil-fill"></i>
            </div>
            <div class="infobtn-container">
                <button id="resetbtn" type="reset" class="btn infobtn rounded-pill">
                    <i class="bi bi-x"></i> Cancel
                </button>
                <button id="savebtn" type="submit" class="btn btn-primary infobtn rounded-pill">Save</button>
            </div>
            <hr>
        </form>
        <button id="deactivebtn" type="button" class=" btn btn-danger infobtn rounded-pill">Deactive Account?</button>
    </div>
</div>
{% endblock %}