<footer>
    <div class="footer-info">
        <div class="footer-container grid">
            <div class="footer-item flogo">
                <img id="footer-logo" src="../../static/images/logo.png" alt="ReserveSpot">
            </div>
            <div class="footer-item company">
                <h1 class="footer-heading">Company</h1>
                <div class="footer-subitem about ">
                    <a class="footer-about" href="{% url 'about' %}">About Us</a>
                </div>
                <div class="footer-subitem contact">
                    <a class="footer-contact" href="/">Contact Us</a>
                </div>
            </div>
            <div class="footer-item help">
                <h1 class="footer-heading">Help Center</h1>
                <div class="footer-subitem reserve">
                    <a class="footer-reserve" href="/">How to Reserve</a>
                </div>
                <div class="footer-subitem faqs">
                    <a class="footer-faqs" href="/">FAQs</a>
                </div>
            </div>
            <div class="footer-item contact">
                <h1 class="footer-heading">Contact Info</h1>
                <div class="footer-subitem phone">
                    <span class="footer-phone">Phone: 1234567890</span>
                </div>
                <div class="footer-subitem email">
                    <span class="footer-email">Email: RS@email.com</span>
                </div>
                <div class="footer-subitem location">
                    <span class="footer-location">Location: 172 Ang Mo Kio Ave 8, Singapore 567739</span>
                </div>
                <div class="footer-subitem socialmedia grid">
                    <div class="socialmedia-item">
                        <a class="social-facebook" href="/" alt="Facebook" title="Facebook">
                            <i class="fa fa-facebook-square" alt="Facebook"></i>
                        </a>
                    </div>
                    <div class="socialmedia-item">
                        <a class="social-twitter" href="/" alt="Twitter" title="Twitter">
                            <i class="bi bi-twitter" alt="Twitter"></i>
                        </a>
                    </div>
                    <div class="socialmedia-item">
                        <a class="social-instagram" href="/" alt="Instagram" title="Instagram">
                            <i class="bi bi-instagram" alt="Instagram"></i>
                        </a>
                    </div>
                    <div class="socialmedia-item">
                        <a class="social-linkedin" href="/" alt="Linkedin" title="Linkedin">
                            <i class="bi bi-linkedin" alt="Linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-banner grid">
        <div class="banner-item copyright">
            &copy 2024 RS.design | All rights reserved
        </div>
        <div class="banner-item creator">
            Created with love by <strong>Team Sum</strong>
        </div>
    </div>
</footer>