#results-container {
    width: 100%;
    padding: 50px;
}

.results {
    font-weight: 700;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

.results p {
    color: #000000;
}

#filter-container {
    display: flex;
    justify-content: space-between;
}

.category-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    background-color: #EEC9B3;
    position: relative;
}

.category-btn span {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
}

.category-box .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.category-boxes {
    display: flex;
    flex-wrap: wrap;
}

.filter-icon {
    width: 30px;
    height: 30px;
}

.filter-button {
    display: inline-block;
    border-radius: 23px;
    width: 150px;
    padding: 8px;
    margin: 0px;
    background-color: #ffffff;
    position: relative;
    border: 2px solid #000000;
    transition: background-color 0.3s, border-color 0.3s;
}

.filter-button span {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
}

.filter-options {
    display: none;
    position: absolute;
    top: 300px;
    right: 30px;
    z-index: 1000;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px; /* Adjust as needed */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.filter-options label {
    display: block;
    margin-bottom: 8px;
}

.filter-options label input[type="checkbox"] {
    margin-right: 5px;
}

#filterApplyBtn {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: #EEC9B3;
    position: relative;
    color: #000000;
}

#display-container {
    margin: 20px 50px;
}

.display-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

.restaurant-card {
    width: 500px; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    overflow: hidden;
}

.card-image {
    width: 100%;
    position: relative;
}

.card-rest-image {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.card-rest-logo {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
}

.card-details {
    padding: 30px;
    color: #000000;
}

.card-details p {
    margin: 0px;
    padding: 5px;
}

.card-details .rest-name {
    font-weight: bold;
}

.card-rating {
    height: 30px;
    margin: 0px;
}

.card-rating img {
    height: 30px;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: url('../images/white-heart.png') no-repeat center center;
    background-size: contain;
    cursor: pointer; /* Indicate that it is clickable */
    z-index: 1; /* Ensure it is above other elements */
}

.heart-icon:hover {
    background: url('../images/filled-heart.png') no-repeat center center;
    background-size: contain;
}